{
    "parser": "babel-eslint",    
    "env": {
        "browser": true
    },
    "extends": [
        "google"
    ],
    "rules": {
        // overrides
        "require-jsdoc": 0,
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "no-console": "error"
    }
}
