extends ../../_shared/base

block content
    ul
        li
            a(href="/cookies/")
                | All

        li
            a(href="/cookies/form")
                | Create
    block cookieContent
