extends ../_shared/base
block content
    form(action="/items", method="POST")
        input(placeholder="Enter text", name="name" type="text")
        input(placeholder="Enter text", name="size" type="number")
        button
            | Submit