extends _shared/base
block cookieContent
    form(action="/cookies", method="POST")
        input(placeholder="Enter name", name="name")
        input(placeholder="Enter size", name="size" type="number")
        button
            | Submit